<div class="container-fluid main">
 <h3 class="username">Summoner {{ userName }} Stats</h3>
 <table class="table">  
  <tr>
    <th>Champion </th>
    <th>Games </th>
    <th>Wins </th>
    <th>Loss </th>
    <th>Kills </th>
    <th>Assists </th>
  </tr>
  <tr class="name" ng-repeat="name in champList">
    <td>{{name}}</td>
    <td>{{champStats[$index].totalSessionsPlayed}}</td>
     <td>{{champStats[$index].totalSessionsWon}}</td>
     <td>{{champStats[$index].totalSessionsLost}}</td>
     <td>{{champStats[$index].totalChampionKills / champStats[$index].totalSessionsPlayed | number:2}}</td>
     <td>{{champStats[$index].totalAssists / champStats[$index].totalSessionsPlayed | number:2}}</td> 
  </tr>
 </table>
</div>
