<div class="container-fluid main">
 <h3 class="username">Username: {{ userName }}</h3>
 <table class="name" ng-repeat="name in champList">  
   <td>Champion: {{name}}</td>
   <td>Games: {{champStats[$index].totalSessionsPlayed}}</td>
   <td>Win: {{champStats[$index].totalSessionsWon}}</td>
   <td>Loss: {{champStats[$index].totalSessionsLost}}</td>
   <td>Kill: {{champStats[$index].totalChampionKills / champStats[$index].totalSessionsPlayed | number:2}}</td>
   <td>Assist: {{champStats[$index].totalAssists / champStats[$index].totalSessionsPlayed | number:2}}</td>
 </table>
</div>
